<%= form_with model: @app, action: "/applications/", local: true, builder: LabellingFormBuilder do |form| %>
  <%= form.text_field :name %><br>
  <%= form.text_field :street %><br>
  <%= form.text_field :city %><br>
  <%= form.text_field :state %><br>
  <%= form.text_field :zip_code %><br>
  <p>Tell us why you would make a good home for these pets?</p>
  <%= form.text_area :description, size: "70x5" %><br>
  <%= form.submit "Submit" %>
<% end %>
