<% @pets.each do |pet| %>
  <section id="pet-<%= pet.name %>">
    <%= pet.name %>
    <% if pet.status == nil %>
      <% if pet.none_approved? %>
      <div id="accept-<%= pet.id %>">
        <%= button_to "Approve", application_pet_path(pet.pet_app_id), method: :patch, params: {
          app_id: @app.id, pet_app_id: pet.pet_app_id, status: true} %>
      </div>
      <% end %>
        <div id="deny-<%= pet.id %>">
      <%= button_to "Reject", application_pet_path(pet.pet_app_id), method: :patch, params: {
          app_id: @app.id, pet_app_id: pet.pet_app_id, status: false} %>
        <div>
    <% elsif pet.status == true %>
      <p> Approved! </p>
    <% elsif pet.status == false %>
      <p> Rejected! </p>
    <% end %>
  </section
<% end %>
