<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShopM2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
</head>
  <header>
    <ul class="navbar">
      <li><%= link_to "Admin-Shelters", admin_shelters_path %></li>
      <li><%= link_to "Admin-Apps", admin_applications_path %></li>
      <li><%= link_to "Back to Home", "/" %></li>
      <li><%= link_to "Go to Shelters", "/shelters" %></li>
      <li><%= link_to 'Go to Pets', "/pets" %></li>
    </ul>
  </header>

  <body>

    <% flash.each do |type, message| %>
      <p><%= message %></p>
    <% end %>

    <%= yield %>

  </body>
</html>
