<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShopM2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
</head>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
    <div class="container-fluid">

      <div class="navbar navbar-expand" id="navbarsExample04">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="navbar"><%= link_to "Admin-Shelters", admin_shelters_path %></li>
          <li class="navbar"><%= link_to "Admin-Apps", admin_applications_path %></li>
        </ul><br>
        </div>
        <div class="navbar navbar-expand" id="navbarsExample04">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="navbar"><%= link_to "Home", "/" %></li>
            <li class="navbar"><%= link_to "Shelters", "/shelters" %></li>
            <li class="navbar"><%= link_to 'Pets', "/pets" %></li>
          </ul>
      </div>
    </div>
  </nav>
  </header>

  <body>

    <% flash.each do |type, message| %>
      <p><%= message %></p>
    <% end %>

    <%= yield %>

  </body>
</html>
